ion-content{
  --ion-background-color: linear-gradient(to bottom, rgb(255, 187, 0),  rgb(245, 18, 11));
border-radius: 50px!important;
}
ion-col{ 
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* Cambiar el color de fondo de ion-button */
ion-button {
  --background: white;
}
.bathroom-red {
  background-color: red;
}

.bathroom-green {
  background-color: green;
}

.kitchen-red {
  background-color: rgb(243, 10, 10);
}

.kitchen-green {
  background-color: green;
}

.chochera-red{
  background-color: red;

}
.cochera-green{

  background-color: green;

}
.dormi-red{
  background-color: red;

}
.dormi-green{
  background-color: green;


}
.gimnasio-red{
  background-color: red;

}
.gimnasio-green{
  background-color: green;

}
.salaJ-green{
  background-color: green;


}
.salaJ-red{
  background-color: red;

}